<widget id="com.prank.otpbomber" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OTP Bomber</name>
    <description>Normal otp bomber | Dev: Saifur Rahman</description>
    <author email="novbh091@email.com" href="https://github.com">Saifur Rahman</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
